## Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

## Data wrangling

In [2]:
df_anime = pd.read_csv('/content/anime.csv')
df_rating = pd.read_csv('/content/rating.csv')

In [3]:
display(df_anime.head()) #para analisarmos os dois dataframes juntos é só utulizar o display
df_rating.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

   user_id  anime_id  rating
0        1      20.0    -1.0
1        1      24.0    -1.0
2        1      79.0    -1.0
3        1     226.0    -1.0
4        1     241.0    -1.0

In [4]:
display(df_anime.info())
print('=='*25)
display(df_rating.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

None

==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3350926 entries, 0 to 3350925
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  float64
 2   rating    float64
dtypes: float64(2), int64(1)
memory usage: 76.7 MB

None

Vamos unir os dois dataframe em um só pela coluna 'user_id' e excluir a coluna 'rating' no dataset df_anime. Pois o que nos interessa é só o rating (avaliação) do usuário.

In [5]:
df= pd.merge(df_rating, df_anime.drop('rating',axis=1),on='anime_id')
print(df.shape)
df.head()

(3350922, 8)

,user_id,anime_id,rating,name,genre,type,episodes,members
0,1,20.0,-1.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,683297
1,3,20.0,8.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,683297
2,5,20.0,6.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,683297
3,6,20.0,-1.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,683297
4,10,20.0,-1.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,683297

Aqui podemos perceber que o  mesmo anime aparece várias vezes, então temos que agrupar esse "rating" para o número de avaliações que cada anime recebeu.

In [6]:
df.groupby('name')['rating'].count().sort_values(ascending=False).head(600)

name
Death Note                                                    16709
Sword Art Online                                              13120
Shingeki no Kyojin                                            12446
Angel Beats!                                                  12149
Code Geass: Hangyaku no Lelouch                               11894
                                                              ...
Hakuouki                                                       1521
Sekaiichi Hatsukoi 2                                           1520
Mahou Shoujo Madoka★Magica Movie 1: Hajimari no Monogatari     1517
Black Blood Brothers                                           1511
Jormungand: Perfect Order                                      1506
Name: rating, Length: 600, dtype: int64

Criar um novo dataframe cpm o número de avaliações e a média de avaliações

In [7]:
new_df = pd.DataFrame(df.groupby('name')['rating'].mean())
new_df['Quantidade'] = pd.DataFrame(df.groupby('name')['rating'].count())
new_df['avaliação média'] = pd.DataFrame(df.groupby('name')['rating'].mean().round(2))
new_df

,rating,Quantidade,avaliação média
name,,,
&quot;0&quot;,2.666667,9,2.67
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,5.950820,366,5.95
&quot;Bungaku Shoujo&quot; Memoire,6.082051,390,6.08
&quot;Bungaku Shoujo&quot; Movie,6.411348,705,6.41
&quot;Eiji&quot;,6.428571,7,6.43
...,...,...,...
xxxHOLiC Kei,6.770977,1454,6.77
xxxHOLiC Movie: Manatsu no Yoru no Yume,6.257261,964,6.26
xxxHOLiC Rou,6.608011,699,6.61
xxxHOLiC Shunmuki,6.376655,831,6.38
◯,2.666667,3,2.67

Criar um novo dataframe com nome e genero e utilizar o nome do anime como index no dataframe

In [8]:
df_genero = pd.DataFrame(data=df_anime[['name','genre']])
df_genero.set_index('name',inplace=True)
df_genero

                                                                                                genre
name
Kimi no Na wa.                                                   Drama, Romance, School, Supernatural
Fullmetal Alchemist: Brotherhood                    Action, Adventure, Drama, Fantasy, Magic, Mili...
Gintama°                                            Action, Comedy, Historical, Parody, Samurai, S...
Steins;Gate                                                                          Sci-Fi, Thriller
Gintama&#039;                                       Action, Comedy, Historical, Parody, Samurai, S...
...                                                                                               ...
Toushindai My Lover: Minami tai Mecha-Minami                                                   Hentai
Under World                                                                                    Hentai
Violence Gekiga David no Hoshi                                                                 Hentai
Violence Gekiga Shin David no Hoshi: Inma Densetsu                                             Hentai
Yasuji no Pornorama: Yacchimae!!                                                               Hentai

[12294 rows x 1 columns]

## Criação do Sistema de Recomendação

In [9]:
def verificar_genero(lista_genero, string): #Definir a função, as variaveis são a lista de genero e uma string
  if any(x in string for x in lista_genero): #Se existir um x nessa string que está dentro da lista de generos
   return True #Vai retornar True
  else: #Se não
   return False #Vai retornar False

In [11]:
genero_anime = df_genero.loc['Death Note'].values[0].split(', ')
genero_anime

['Mystery', 'Police', 'Psychological', 'Supernatural', 'Thriller']

In [12]:
cols = df_anime[df_anime['genre'].apply(lambda x: verificar_genero(genero_anime, str(x)))]['name'].tolist()

In [13]:
matriz_de_animes = df[df['name'].isin(cols)].pivot_table(index='user_id', columns='name', values='rating')

In [14]:
matriz_de_animes.head()

name,&quot;Bungaku Shoujo&quot; Movie,.hack//Intermezzo,.hack//Liminality,.hack//Sign,.hack//The Movie: Sekai no Mukou ni,11-nin Iru!,11eyes,11eyes: Momoiro Genmutan,A Kite,AD Police,...,Zombie-Loan Specials,Zonmi-chan: Meat Pie of the Dead,ef: A Tale of Melodies.,ef: A Tale of Memories.,ef: A Tale of Memories. - Recollections,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN

In [15]:
anime_nota = matriz_de_animes['Death Note']
anime_nota

user_id
1         NaN
2         NaN
3        10.0
4        -1.0
5         4.0
         ...
30859     8.0
30860     NaN
30861    -1.0
30862     NaN
30863    10.0
Name: Death Note, Length: 29469, dtype: float64

In [16]:
anime_parecido = matriz_de_animes.corrwith(anime_nota)

/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [21]:
anime_correlacionado = pd.DataFrame(anime_parecido, columns=['correlação'])
anime_correlacionado.head()

                                     correlação
name
&quot;Bungaku Shoujo&quot; Movie       0.596838
.hack//Intermezzo                      0.539291
.hack//Liminality                      0.630427
.hack//Sign                            0.630042
.hack//The Movie: Sekai no Mukou ni    0.570919

In [22]:
anime_correlacionado = anime_correlacionado.join(new_df[['Quantidade', 'avaliação média']])

In [24]:
anime_correlacionado.head()

                                     correlação  Quantidade  avaliação média
name
&quot;Bungaku Shoujo&quot; Movie       0.596838         705             6.41
.hack//Intermezzo                      0.539291         360             4.82
.hack//Liminality                      0.630427         506             5.05
.hack//Sign                            0.630042        1767             5.81
.hack//The Movie: Sekai no Mukou ni    0.570919         198             5.43

In [25]:
anime_correlacionado.dropna(inplace=True)

In [27]:
animes_recomendados = anime_correlacionado[anime_correlacionado['Quantidade']> 4000].sort_values('correlação', ascending = False)

In [28]:
animes_recomendados = animes_recomendados.rename_axis('Animes Recomendados')

In [29]:
animes_recomendados.head()

                                       correlação  Quantidade  avaliação média
Animes Recomendados
Death Note                               1.000000       16709             7.54
Darker than Black: Kuro no Keiyakusha    0.710453        6750             6.96
Higurashi no Naku Koro ni Kai            0.709958        4021             7.07
Kuroshitsuji                             0.702440        6959             6.68
Claymore                                 0.701092        5120             6.76

## Modelo

In [48]:
def recomendar_anime(nome_do_anime, n):
  genero_anime = df_genero.loc[nome_do_anime].values[0].split(', ')
  cols = df_anime[df_anime['genre'].apply(lambda x: verificar_genero(genero_anime, str(x)))]['name'].tolist()
  matriz_de_animes = df[df['name'].isin(cols)].pivot_table(index='user_id', columns='name', values='rating')
  anime_nota = matriz_de_animes[nome_do_anime]
  anime_parecido = matriz_de_animes.corrwith(anime_nota)
  anime_correlacionado = pd.DataFrame(anime_parecido, columns=['correlação'])
  anime_correlacionado = anime_correlacionado.join(new_df[['Quantidade', 'avaliação média']])
  anime_correlacionado.dropna(inplace=True)
  animes_recomendados = anime_correlacionado[anime_correlacionado['Quantidade'] > 4000].sort_values('correlação', ascending=False)
#Criar nosso dataframe final, que vai ser a tabela dos animes recomendados
  animes_recomendados= animes_recomendados.rename_axis('Animes recomendados')
  print(f'Anime escolhido: {nome_do_anime}')
  return animes_recomendados.head(n+1)

## Recomendador

In [51]:
recomendar_anime('Dragon Ball Z', 5)

/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

Anime escolhido: Dragon Ball Z

                     correlação  Quantidade  avaliação média
Animes recomendados
Dragon Ball Z          1.000000        7218             6.83
Dragon Ball            0.866365        6070             6.69
Dragon Ball GT         0.799487        4749             5.51
Digimon Adventure      0.717479        4003             6.11
Trigun                 0.697609        4632             6.93
Full Metal Panic!      0.690971        4787             6.44